.table {
  &__name {
    width: 300px;
    background-color: #f5f5f5;
  }

  &__currentDay {
    background-color: #eef8ff;
    width: 130px;
    text-align: center;
  }
  &__yesterday {
    display: flex;
    justify-content: space-between;
    width: 130px;

    span {
      color: green;
      margin-right: 10px;
    }
  }
  &__dayWeek {
    width: 200px;
    text-align: center;
  }
}
